<!DOCTYPE html>
<html>
  <head>
    <title>data incubator project</title>
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
    <link href="https://fonts.googleapis.com/css?family=Gloria Hallelujah|Satisfy|Annie Use Your Telescope" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="/public/render.js"></script>
    
  </head>
  <body>
    <header>
      <h2>
        Cover version analysis
      </h2>
    </header>

     <ul class="nav" id="nav-item-container">
        

      </ul>


    <script>
    
    renderNavbar();</script>


    <section >
        <h3 style="font-family:Annie Use Your Telescope">Here are some of interesting discussion about the best cover versions!</h3>
        <p><a href="https://www.pastemagazine.com/articles/2018/12/the-best-cover-songs-of-2018.html" target="_blank">The 10 Best Cover Songs of 2018</a></p>
        <p><a href="https://community.spotify.com/t5/Music-Chat/Best-Cover-Versions/td-p/4500284"target="_blank">Spotify  Community Chat</a></p>
      </section>

     
  


  </body>
</html>


