



/* * {
  box-sizing: border-box;
}  */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}


h3 {
  font-weight: bold;
  font-family:  'Annie Use Your Telescope';
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form.home {
  margin-bottom: 25px;
  padding: 15px;
  background-color: pink;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input.home {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

input[type="radio"] {
  display: inline-block;
  width: auto;
}

button.home {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  color: black;
  border: 1px solid grey;
  box-shadow: 2px 2px ;
  cursor: pointer;
}

button:hover {
  background-color: palevioletred;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}



ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.nav {
  float: left;
}

li.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav a:hover {
  background-color: #111;
}


